.cover-bg {
    background-color: bisque;
}

.cover-photo {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.cover-text {
    position: absolute;
    text-align: end;
    color: white;
    margin-top: 100px;
    padding: 0px 3rem;
    margin-left: 26rem;
}