.projects-container {
    background-color: #9C9F84!important;
}

.cover-bg {
    background-color: bisque;
}

.cover-photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.container-fluid {
    padding: auto !important;
}

.mission {
    position: absolute;
    margin-top: 16rem;
    color: white;
    font-size: 15px;
    padding-right: 12rem;
    padding-left: 5px;
    text-shadow: 1px 1px 5px black;
}

.cover-text {
    position: absolute;
    text-align: end;
    color: white;
    margin-top: 100px;
    padding: 0px 4.8rem;
    margin-left: 26rem;
    text-shadow: 1px 1px 5px #000;
}

.nav-link {
    color: #A97D5D !important;
}

.nav-link:hover {
    color: #5C755E !important;
    text-shadow: 1px 1px 3px #fff;
}